.task{
    background-image: url(https://images.unsplash.com/photo-1548602088-9d12a4f9c10f?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex: content;
    align-items: center;

    
}
.text{
    font-weight: bolder;
    text-align: center;
}
